@import "../../node_modules/antd/lib/style/themes/default.less";
@import "../../node_modules/antd/lib/style/core/index.less";
@import "../../node_modules/antd/lib/style/components.less";

@primary-color          : #0C5aa2;
@error-color            : #d43327;
@link-color             : #0C66bc;
@border-radius-base     : 4px;
@border-radius-sm       : 4px;
@line-height-base       :1;
@text-color             : #707070;
@input-height-lg: 40px;
@form-item-margin-bottom     : 30px;
@input-placeholder-color     : #999999;
@font-size-base         : 14px;
.ant-cascader-menu{
  height:auto;
}
.ant-radio-inner{
  top:2px;
}
.ant-search-input .ant-select-combobox .ant-select-selection__rendered{
  right:5px;
}
.ant-select-combobox .ant-select-search__field{
  padding:0 8px;
}
.ant-modal-footer{
  text-align: left;
  padding-left: 150px;
}
.ant-modal-content .ant-btn-ghost{
  width:50px;
  height:26px;
  margin-right:30px;
}
.ant-input{
  font-size: 14px;
}
.ant-checkbox-wrapper{
  font-size: 14px;
}
.ant-cascader-picker{
  font-size: 14px;
}
.ant-radio-wrapper{
  font-size: 14px;
}
body{
  margin:0;
  padding: 0;
  text-decoration: none;
  line-height:1!important;
};

/******************************商品详情*****************************************/
.productdetails{
  width: 1200px;
  margin: 0 auto;
  h2{
    font-size: 22px;
    color: #5b5b5b;
    padding: 20px 0;
  }
  .trend{
    font-size: 14px;
    color: #707070;
    padding-bottom: 30px;
  }
  .productdetailscontent{
    float: left;
    .contentLeft{
      width: 290px;
      height: 370px;
      float: left;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .contentMiddle{
      width: 640px;
      height: 374px;
      padding-left: 23px;
      padding-top: 11px;
      float: left;
      p:first-child{
        font-size: 16px;
      }
      p{
        font-size: 14px;
        color: #5b5b5b;
        padding-bottom: 14px;
        span.model{
          color: #ed7020;
        }
        span.totalinventory{
          margin-left: 278px;
        }
      }
      p.money{
        font-size: 24px;
        color: #dc6553;
        padding:10px 0 23px;
      }
      .pricegradient {
        position: relative;
        margin-bottom: 10px;
        p{
          font-size: 12px;
          color: #5b5b5b;
          text-align: left;
          padding-bottom:8px;
          span{
              margin-left: 10px;
              display:inline-block;
              width:46px;
          }
          span:nth-of-type(1){
            margin-left:0;
            width:50px;
            text-align: right;
          }
        }
      }
      span.deliveryplace{
        font-size: 14px;
        color: #707070;
        margin-right: 20px;
      }
      .info{
        padding: 14px 0 14px 0;
        margin-right: 40px;
        border-bottom: 1px solid #dedede;
        .numInput {
          width: 160px;
          position: relative;
          display: inline-block;
          span:hover {
            color: #0a66bc;
          }
          span.num{
            font-size: 14px;
            color: #707070;
            padding-right: 58px;
            line-height: 24px;
          }
          span.plus {
            display: inline-block;
            position: absolute;
            top: 6px;
            left: 157px;
            cursor: pointer;
          }
          span.minus {
            display: inline-block;
            position: absolute;
            top: 2px;
            right: 68px;
            cursor: pointer;
          }
          .input_ {
            width: 50px !important;
            height: 24px !important;
            border: 1px solid #c6c6c6 !important;
            border-radius: 2px !important;
            line-height: 22px !important;
            .ant-input-number-handler-wrap {
              display: none;
            }
            .ant-input-number-input {
              text-align: center !important;
              height: 22px !important;
              font-size: 14px;
            }
          }
        }
        .total{
          font-size: 14px;
          color: #888;
          margin-left: 67px;
          display: inline-block;
          span{
            color: #dc6553;
          }
        }
        .postage{
          font-size: 14px;
          color: #707070;
          margin-left: 55px;
          display: inline-block;

        }

      }
      .button{
        margin-top: 25px;
        span{
          display: inline-block;
          width: 120px;
          height: 35px;
          font-size:16px;
          border-radius: 3px;
          border:1px solid #0a66bc;
          text-align: center;
          vertical-align: middle;
          text-align: center;
          line-height: 35px;
        }
        span:hover{
          cursor: pointer;
        }
        .buyimmediately{
          color: #fff;
          background:  #0a66bc;
        }
        .joinshopcart{
          color: #0a66bc;
          background:  #fff;
          margin-left: 30px;
        }
      }


    }
    .contentRight{
      width: 270px;
      height: 374px;
      border: 1px solid #dedede;
      float: left;
      .top{
        position: relative;
        height: 100px;
        img.lagou{
          width: 60px;
          height: 60px;
          position: relative;
          top: 10px;
          left: 20px;
        }
        p{
          font-size: 16px;
          color: #5b5b5b;
          position:absolute;
          top: 28px;
          left: 90px;
          margin-left : 0px;
          img.productlogo{
            width: 20px;
            height: 17px;
            position: relative;
            top: 2px;
            left: 6px;
            margin-right: 4px;
          }
        }
        img.jin{
          width: 20px;
          height: 17px;
          position: absolute;
          top: 54px;
          left: 95px;
        }
      }
      p{
        font-size: 14px;
        color: #707070;
        padding-bottom: 15px;
        margin-left: 40px;
        span{
          color: #0a66bc;
        }
      }
      .bottom{
        width: 100%;
        padding-top: 16px;
        p{
          font-size: 14px;
          color: #707070;
          img{
            width: 110px;
            height: 28px;
            margin-left: 4px;
          }
        }

        p:nth-child(3){
          img{
            width: 130px;
          }

        }
      }
    }

  }

  ul.title{
    background: #e6eff8;
    width: 100%;
    height: 40px;

    margin-top: 46px;
    li{
      margin-right: 1px;
      span{
        width: 160px;
        height: 40px;
        font-size:14px;
        line-height: 20px;
        color: #5b5b5b;
        padding: 10px 48px;
        text-align: center;
        vertical-align: middle;
        float: left;
      }
      span:hover{
        color: #fff;
        background: #0a66bc;
        cursor: pointer;
      }
      span.active{
        color: #fff;
        background: #0a66bc;

      }

      float: left;
    }

  }
  .tab1{
    padding-top: 60px;
    padding-left: 48px;
    position: relative;
    .top{
      margin-bottom: 10px;

      p{
        font-size:14px;
        color: #707070;
        padding-bottom: 10px;
      }
    }
    .middle{
      margin-bottom: 34px;
      p{
        font-size:14px;
        color: #707070;
        padding-bottom: 10px;
      }
    }
    .bottom{
      p{
        font-size:14px;
        color: #707070;
        padding-bottom: 20px;
        span{
          font-weight: bold;
        }
      }
    }
    .pdf{
      width: 70px;
      position: absolute;
      bottom: 24px;
      right: 66px;
      img{
        width: 62px;
        height: 68px;
        margin-bottom:7px;
      }
      span{
        font-size: 14px;
        color: #707070;

      }
    }
  }
  .tab2{

  }
  .tab3{
    padding-top: 30px;
    padding-left: 40px;
    .bluespan{
      width: 4px;
      height: 16px;
      background-color: #0a66bc;
      margin-right:5px;
      display: inline-block;
    }
    h3{
      font-size: 16px;
      color: #707070;
      display: inline-block;
    }
    .top{
      padding: 20px 0 60px 30px;
      p{
        font-size: 14px;
        color: #707070;
        padding-bottom: 14px;
        marin-left: 30px;
        span{
          font-weight: bold;
        }
      }
      p:nth-child(5){
        padding-bottom: 20px;
        border-bottom: 1px solid #dedede;
      }
      p:nth-child(6){
        padding-top: 20px;
      }
    }
    .middle{
      padding: 30px 0 55px 0;
      img{
        margin-left: 90px;
      }
    }
    .bottom{
      .changpai{
        width: 100%;
        padding: 35px 0 30px 50px;
      }
      .dai{
        width: 100%;
        padding: 0px 0 30px 50px;
        img{
          margin-bottom: 5px;
        }
      }
      .lingshou{
        padding: 0px 0 0px 50px;
      }
    }
  }
}





































